body {
    background-color: #0f0f0f;
    color: #fff;
    font-family: Ubuntu, 'Noto Sans', sans-serif;
    margin: 0;
}

.content {
    max-width: 50em;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #85beff;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

header {
    height: 52px;
    display: flex;
    justify-content: center;
    background-color: #20233c;
}

nav {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    max-width: 50em;
    width: 100%;
    padding: 0 20px 0 20px;
}

nav a {
    font-size: 20px;
}

header a { color: white; }

.title {
    display: flex;
    align-items: center;
}

.title img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 5px;
}

.name {
    font-size: 28px;
    margin: 0;
}

h1 {
    margin: 16px 0 0 0;
}

h2 {
    font-size: 22px;
    margin-bottom: 4px;
}

p {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul h2 {
    font-weight: 400;
}

.desc {
    color: grey;
}

.dashed {
    border: none;
    border-top: 1px dashed grey;
}

aside {
    background-color: #1f1f1f;
    border-left: 4px solid grey;
    padding: 14px;
    border-radius: 4px;
    margin-bottom: 15px;
}

aside span { font-weight: bold }
.aside-content { margin: 0 }

.aside-update     { border-left: 4px solid green }
.aside-warning    { border-left: 4px solid orange }
.aside-disclaimer { border-left: 4px solid #eb152e }
.aside-fun-fact   { border-left: 4px solid #34a8eb }

.aside-update span     { color: #32a852 }
.aside-warning span    { color: orange }
.aside-disclaimer span { color: #eb152e }
.aside-fun-fact span   { color: #34a8eb }

hr {
    border: 1px solid grey;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f1f1f1;
        color: #000;
    }

    a {
        color: #2069bd;
    }

    hr {
        border: 1px solid #aaa;
    }

    aside {
        background-color: #e5e5e5;
    }
}
