/* Main stylesheet for ish.app */

body {
	background: #161616;
	color: #d1d1d1;
	font-family: Roboto,Helvetica,sans-serif;
	text-align: center;
}

/* Font & Texts */
h1, h2, h3 {
	font-weight: 200;
}

/* iSH icon in header */
.headerimg {
	height: 64px;
	width: 64px;
	border-radius: 16px;
	border: 2px solid #d1d1d1;
	margin: 16px;
}

/* Header */
header {
	box-shadow: 0 0 0px black;
	height: 96px;
	width: 100%;
	background-color: #262626;
	line-height: 32px;
	background: rgba(38, 38, 38, 0);
	left: 0;
	top: 0;
	position: fixed;
	z-index: 2;
	/* Flexboxes */
	display: flex;
	align-items: center;
}

/* Navigation bar */
nav {
	display: inherit;
}

nav a {
	border: solid rgba(255, 255, 255, 0.1);
	border-width: 3px 0;
	color: inherit;
	padding: 16px;
	width: 100px;
	transition: background .2s ease-in-out, box-shadow .4s, color .5s, border 1s;
	float: right;
	margin-right: 12px;
	margin-left: 12px;
	font-size: 20px;
}

nav a:hover {
	background: rgba(255, 255, 255, 0.1);
	border: 3px solid white;
	border-width: 3px 0;
	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Front page container. */
.front-container {
	display: flex;
	align-items: center;
	padding: 48px;
	margin-top: 48px;
	justify-content: space-around;
	margin-left: 100px;
	height: 70%;
}

/* The large iSH icon. */
.icon {
	height: auto;
	width: 420px;
	border-radius: 16px;
	border: 2px solid #d1d1d1;
	margin-right: 20px;
}

.fronttext {
	width: 700px;
	margin-top: 12px;
}

.fronttext h1 {
	font-size: 48px;
	margin: 0;
}

.photo-container {
	margin-top: 50px;
	float: right;
	right: 0;
}

.photo {
	height: auto;
	width: 80%;
}

.hidden {
	opacity: 1;
}

.downarrow {
	bottom: 0;
	font-size: 92px !important;
}

.lightsec {
	background-color: #d1d1d1;
	color: #161616;
	padding: 1px;
}

/* "Info" section */
#info {
}

#info h1 {
	font-size: 36px;
	margin: 12px;
}

/* "Get iSH" section */
#get {
	text-align: center;	
}

#get h1 {
	font-size: 42px;
}

/* Dividers */
.divider {
	border-left: 1px solid #323232;
}

hr {
	border: 0;
	border-top: 1px solid grey;
	width: 50%;
}

.flexdivider {
	width: 100%;
}

@media only screen and (max-width: 700px) {
	.front-container {
		flex-wrap: wrap;
		margin-left: 0;
		margin-top: 8%;
	}
	.icon {
		width: 50%;
		margin-bottom: 20px;
	}
	.photo {
		max-width: 100%;
	}
	.hidden {
		position: absolute;
		top: -75vh;
	}
}