body {
	background: #161616;
	color: #d1d1d1;
	font-family: Roboto,Helvetica,sans-serif;
	padding: 24px;
}

.title {
    font-size: 36px;
    color: #fff;
   	margin-left: 16px;
   	display: inline;
}

.headerimg {
	height: 64px;
	width: 64px;
	border-radius: 16px;
	border: 2px solid #d1d1d1;
	margin: 16px;
	vertical-align: middle;
}

h1 {
	font-weight: 200;
}

header {
	box-shadow: 0 0 4px black;
	height: 96px;
	width: 100%;
	z-index: 10;
	background-color: #262626;
   	display: inline-block;
}


nav a {
	border-bottom: 3px solid rgba(255, 255, 255, 0.1);
	border-top: 3px solid rgba(255, 255, 255, 0.1);
	color: inherit;
	padding: 16px;
	padding-right: 32px;
	padding-left: 32px;
	transition: background .2s ease-in-out, box-shadow .4s, color .5s, border-bottom 1s, border-top 1s;
	float: right;
	margin-right: 16px;
	font-size: 20px;
}

nav a:hover {
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 3px solid white;
	border-top: 3px solid white;
	box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.6);
}

a {
	text-decoration: none;
}






