<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}Blog{% endif %} — {{ site.title }}</title>
        <link rel="stylesheet" href="/blog.css" />
        <link rel="stylesheet" href="/fonts.css" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/png" href="/assets/icon.png"/>

        <meta name="description" content="{{ site.description }}">
        <meta property="og:image" content="/assets/icon.png" />
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Blog{% endif %} — {{ site.title }}" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_GB" />
        <meta name="theme-color" content="#20233c">

        <link rel="preload" href="/assets/fonts/ubuntu-400.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/assets/fonts/ubuntu-700.woff2" as="font" type="font/woff2" crossorigin>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <div class="title">
                        <img src="/assets/icon.png" alt="iSH app icon" />
                        <p class="name">{{ site.title }}</p>
                    </div>
                </a>
                {% if page.layout == "post" %}
                    <a href="/blog">Blog</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {{ content }}
        </main>
    </body>
</html>
