<html>
    <head>
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="style.css" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/png" href="assets/icon.png"/>

        <meta property="og:image" content="assets/icon.png" />
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:locale" content="en_GB" />

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="site.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <noscript>
            <style>
            header {
                background-color: #262626;
                box-shadow: 0 0 4px black;
            }
            </style>
        </noscript>
    </head>
    <body>
        {{ content }}
        <div class="footer"> <!-- Footer -->
            <hr />
            <h3>{{ site.title }}, 2017-{{ 'now' | date: "%Y" }}</h3>
        </div>
    </body>
</html>
