<html lang="en_GB">
    <head>
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="style.css" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/png" href="assets/icon.png"/>

        <meta name="description" content="{{ site.description }}">
        <meta property="og:image" content="/assets/icon.png" />
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_GB" />
        <meta name="theme-color" content="#17192d">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
        <script async src="site.js"></script>
        <noscript>
            <style>
            header {
                background-color: #262626;
                box-shadow: 0 0 4px black;
            }
            </style>
        </noscript>
    </head>
    <body>
        <header class="hhidden" id="headr">
            <div class=flexdivider></div>
            <nav>
                <a class="whidden" href="#home">Home</a>
                <div class="whidden divider"></div>
                <a href="#get">Get {{ site.title }}</a>
            </nav>
        </header>
        {{ content }}
        <div class="footer"> <!-- Footer -->
            <hr />
            <!-- Todo: Add icons in footer for different contact methods (email/twitter/github/whatever) -->
            <p class="meds">{{ site.title }}, &copy; 2017-{{ 'now' | date: "%Y" }} | <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </div>
    </body>
</html>
