<html>
	<head>
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="style.css" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="site.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<noscript>
			<style>
			header {
				background-color: #262626;
				box-shadow: 0 0 4px black;
			}
			</style>
		</noscript>
	</head>
	<body>
		<header>
			<div class=flexdivider></div>
			<nav>
				<a class="hidden" href="#home">Home</a>
				<div class="hidden divider"></div>
				<a href="#get">Get {{ site.title }}</a>
			</nav>
		</header>
		{{ content }}
		<div> <!-- Footer -->
			<hr />
			<h3>{{ site.title }}, 2017-{{ 'now' | date: "%Y" }}</h3>
		</div>
	</body>
</html>